body{
    background-color: rgb(33,37,41);
  }
  .bg-green{
    background-color: #0d0d0dd2;
  }
  .carousel-item{
    height:95vh;
  }
  .carousel-item img{
      object-fit: cover;
      object-position: center center;
      height:100%;
  }  
  .profile-container{
    border-radius: 20px !important;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.297) !important;
  }

  .profile-img{
    height: 180px;
    width:180px;
    margin:auto;
    object-position: center center;
    padding: none;
  }

  @media (min-width:800px){
    .profile-container{
      width:60vw !important;
    }
  }